button.btnMain {
    width: 100px;
    height: 50px;
}

ul.router {
    background-color: black
}

ul.router li {
    text-align: center;
    list-style: none;
    border: solid 1px blue;
    width: 200px;
    margin: 5px;
    background: aquamarine;
    cursor: pointer;
    float: left;
    /* color: white; */
}